<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let photo of photos" size="6" sizeMd="3">
        <ion-img [src]="photo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
